<% content_for :page_controls do %>
	<div class="span-10 t-center">
		<div class="span-3">
			<% if @page.to_i > 1 %>
				&larr; <%= link_to "Previous", "/simpleviewer/#{@book.id}/#{@page.to_i - 1}" %>
			<% else %>
				<span class="gray">Previous</span>
			<% end %>
		</div>

		<div class="span-4">
			Page <%= @page.to_i %> of <%= @book.total_pages %>
		</div>

		<div class="span-3 last">
			<% if @page.to_i <= @book.total_pages - 1 %>
				<%= link_to "Next", "/simpleviewer/#{@book.id}/#{@page.to_i + 1}" %> &rarr;
			<% else %>
				<span class="gray">Next</span>
			<% end %>
		</div>
	</div>
<% end %>

<div id="left-arrow">
	&larr;
</div>

<div id="right-arrow">
	&rarr;
</div>

<div id="book-page-block" class="span-24 last">
	<%= image_tag "http://#{@book.static_host}/#{@book.id}/#{@book.id}-#{@page}.png", :width => "100%", :id => "book-page" %>
</div>

<% content_for :sidebar do %>
	<h3 class="gray">Book:</h3>
	<p><strong><%= @book.file_filename %></strong></p>
	<h4>Pages:</h4>
	<p><strong><%= @book.total_pages %></strong></p>
<% end %>

<script type="text/javascript">
	var TotalPages = <%= @book.total_pages.to_i %>;
	var CurrentPage = <%= @page.to_i %>;
	
	$(document).ready(function () {
		$("#left-arrow").mouseover(function () {
			if (CurrentPage > 1) {
				$(this).stop().animate({ 'opacity' : '1' });
			}
		});
		
		$("#right-arrow").mouseover(function () {
			if (CurrentPage < TotalPages) {
				$(this).stop().animate({ 'opacity' : '1' });
			}
		});
		
		$("#left-arrow, #right-arrow").mouseout(function () {
			$(this).stop().animate({ 'opacity' : '0' });
		});
		
		$("#left-arrow").click(function () {
			var prev_page_number = CurrentPage - 1;
			if (prev_page_number > 0) {
				window.location.href = window.location.href.replace(/\d+$/, prev_page_number);
			}
		});
		
		$("#right-arrow").click(function () {
			var next_page_number = CurrentPage + 1;
			if (next_page_number <= TotalPages) {
				window.location.href = window.location.href.replace(/\d+$/, next_page_number);
			}
		});
	});
</script>