<% content_for :page_controls do %>
	<div class="span-10 t-center">
		<div class="span-3 prev alt">
			<% if @page.to_i > 1 %>
				&larr; <%= link_to "Previous", "/simpleviewer/#{@book.id}/#{@page.to_i - 1}" %>
			<% else %>
				<span class="gray">Previous</span>
			<% end %>
		</div>

		<div class="span-4">
			Page <%= @page.to_i %> of <%= @book.total_pages %>
		</div>

		<div class="span-3 last next alt">
			<% if @page.to_i <= @book.total_pages - 1 %>
				<%= link_to "Next", "/simpleviewer/#{@book.id}/#{@page.to_i + 1}" %> &rarr;
			<% else %>
				<span class="gray">Next</span>
			<% end %>
		</div>
	</div>
<% end %>

<div id="book-page-block">
	<!--<div id="left-arrow"><div class="symbol">&larr;</div></div>
	<div id="right-arrow"><div class="symbol">&rarr;</div></div>-->
	
	<%= image_tag "http://#{@book.static_host}/#{@book.id}/#{@book.id}-#{@page}.png", :width => "100%", :id => "book-page" %>
</div>

<% content_for :sidebar do %>
	<h4>Book:</h4>
	<p><strong><%= @book.file_filename[0..35] %>...</strong></p>
	
	<h4>Zoom:</h4>
	<p><input type="button" id="magnify-enabler" name="magnify-enabler" value="Enable Magnifier"/></p>
	
	<div id="thumbnails">
		<% 1.upto(@book.total_pages) do |page_num| %>
			<%= link_to image_tag(thumbnail_url(@book, page_num), :height => 105, :class => (page_num == @page.to_i) ? "current" : ""), "/simpleviewer/#{@book.id}/#{page_num}" %>
		<% end %>
	</div>
<% end %>

<script type="text/javascript">
	var total_pages  = <%= @book.total_pages.to_i %>;
	var current_page = <%= @page.to_i %>;
	var magnify_src  = "<%= "http://#{@book.static_host}/#{@book.id}/#{@book.id}-#{@page}.png" %>";
	
	$(document).ready(function () {
		// scroll down the "#thumbnails" div to show current page in the middle
		var scroll_height = $("#thumbnails")[0].scrollHeight;
		$("#thumbnails")[0].scrollTop = scroll_height / total_pages * current_page - $("#thumbnails")[0].clientHeight / 2;
		
		$("#magnify-enabler").click(function () {
			MojoMagnify.makeMagnifiable(
				document.getElementById("book-page"),
				magnify_src
			);
		});
		
		$("#left-arrow").mouseover(function () {
			if (current_page > 1) {
				$(this).stop().animate({ 'opacity' : '1' }).css('cursor', 'pointer');
			}
		});
		
		$("#right-arrow").mouseover(function () {
			if (current_page < total_pages) {
				$(this).stop().animate({ 'opacity' : '1' }).css('cursor', 'pointer');
			}
		});
		
		$("#left-arrow, #right-arrow").mouseout(function () {
			$(this).stop().animate({ 'opacity' : '0' }).css('cursor', 'normal');
		});
		
		$("#left-arrow").click(function () {
			var prev_page_number = current_page - 1;
			if (prev_page_number > 0) {
				window.location.href = window.location.href.replace(/\d+$/, prev_page_number);
			}
		});
		
		$("#right-arrow").click(function () {
			var next_page_number = current_page + 1;
			if (next_page_number <= total_pages) {
				window.location.href = window.location.href.replace(/\d+$/, next_page_number);
			}
		});
	});
</script>