<p id="notice"><%= notice %></p>

<table>
	<tbody>
		<tr>
			<th>Filename</th>
			<td><%= @upload.file_filename %></td>
		</tr>
		<tr>
			<th>Public?</th>
			<td><%= @upload.public? %></td>
		</tr>
		<tr>
			<th>Converted?</th>
			<td><%= @upload.converted? %></td>
		</tr>
		<tr>
			<th>Converting Progress</th>
			<td><%= converted_percent(@upload) %>%</td>
		</tr>
		<tr>
			<th>Total Pages</th>
			<td><%= @upload.total_pages %></td>
		</tr>
		<% if @upload.convert_errors && !@upload.convert_errors.empty? %>
		<tr class="convert-errors">
			<th style="vertical-align:top;">Converter errors:</th>
			<td>
				<ul>
					<% @upload.convert_errors.each do |error| %>
						<li><%= error.chomp.gsub(/\n/, "<br/>").html_safe %></li>
					<% end %>
				</ul>
			</td>
		</tr>
		<% end %>
		<% @upload.doc_data.each do |elem| %>
		<tr>
			<th><%= elem.to_a[0][0] %></th>
			<td><%= elem.to_a[0][1] %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<%= link_to 'Edit', edit_upload_path(@upload) %> |
<%= link_to 'Destroy', @upload, :confirm => 'Are you sure?', :method => :delete %> |
<%= link_to 'Back', uploads_path %>
