<!DOCTYPE html>
<html>
<head>
  <title>Liberty</title>
	<%= stylesheet_link_tag "blueprint/screen", :media => "screen, projection" %>
	<%= stylesheet_link_tag "blueprint/print", :media => "print" %>
	<!--[if lt IE 8]><%= stylesheet_link_tag "blueprint/ie", :media => "screen, projection" %><![endif]-->
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "jquery.rails.js" %>
  <%= csrf_meta_tag %>
</head>
<body>
	
	<div id="wrapper" class="container">
		<div id="auth-block" class="span-24 last">
			<%= render 'layouts/authblock' %>
		</div>
		
		<div class="span-24 last">
			<div id="logo"><a href="/">Liberty</a></div>
		</div>
		
		<% if !flash.empty? %>
			<div class="span-24 last">
				<% if !notice.nil? %>
					<p class="notice"><%= notice %></p>
				<% end %>
				<% if !alert.nil? %>
					<p class="notice alert"><%= alert %></p>
				<% end %>
			</div>
		<% end %>
		
		<div class="span-18">
			<div class="span-10">
				<h3><%= link_to "My bookshelf", uploads_path %></h3>
			</div>
			
			<div class="span-4">
				<h3><%= link_to "Read last", "#" %></h3>
			</div>
			
			<div class="span-4 last">
				<h3><%= link_to "Upload new book", new_upload_path %></h3>
			</div>
			
			<div class="span-18 last">
				<%= yield %>
			</div>
		</div>
		
		<div class="span-6 last">
			<%= render 'layouts/sidebar' %>
		</div>
		
		<div class="span-24">
			<div class="span-4">&nbsp;</div>
			<div class="span-16">
				<%= link_to "About", about_path %>
			</div>
			<div class="span-4 last">&nbsp;</div>
		</div>
	</div>

</body>
</html>
